@charset "UTF-8";

/* 共通のcss */
body {
    font-family: "Shippori Mincho", serif;
}

img{
    width: 100%;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.container{
    background-image: url(./image/background-wall.jpg);
    background-repeat: repeat;
}
/* セクションタイトル*/
.section-title{
    text-align: center;
    padding: 40px 0 40px 0;
}

.section-title h2{
    font-size: 40px;
    margin: 0px;
}

.section-title p{
    font-size: 16px;
    margin: 0px;
    border-bottom: black solid 1px;
    display: inline-block;
}

/* ボタン */
.btn{
    box-shadow: 0px 4px 2px gray;
    transition: all 0.5s;
}

.btn:hover{
    top: 5px;
    box-shadow: none;
}

.wrapper{
    margin:0 80px;
    /* padding: 80px 0; */
}


/* -----------------------------------------------------
ヘッダー
------------------------------------------------------ */
header{
    width: 100%;
    min-height: 60px;
    display: flex;
    position: fixed;
    z-index: 3;
}

.header-logo{
    line-height: 1;
    width: 90px;
}

nav{
    width: 280px;
    display: block;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}

.open  nav{
    left: 0;
    opacity: 1;
}

nav .inner{
    padding: 25px;
}

nav .inner ul{
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0;
    border-bottom: 1px solid #333;

}

nav li a{
    display: block;
    padding: 1rem;
    font-size: 14px;
    transition-duration: 0.2s;
}

nav li a:hover{
    background: #e4e4e4;
}

/*-----------------------------------------------
ハンバーガーメニュー
----------------------------------------------*/
.toggle-btn{
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    border-radius: 4px;
}

.toggle-btn span:nth-child(1){
    top: 4px;
}

.toggle-btn span:nth-child(2){
    top: 14px;
}

.toggle-btn span:nth-child(3){
    bottom: 4px;
}

.open .toggle-btn span{
    background-color: #fff;
}

.open .toggle-btn span:nth-child(1){
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2){
    opacity: 0;
}

.open .toggle-btn span:nth-child(3){
    transform: translateY(-10px) rotate(315deg);
}

#mask{
    display: none;
    transition: all 0.5s;
}

.open #mask{
    display: block;
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
}

/* ----------------------------------------------
メインビジュアル
-------------------------------------------------- */
.mainvisual{
    object-fit: cover;
    width: 100%;
}

/* ----------------------------------------------
コンセプト
----------------------------------------------- */

.concept{
    background-image: linear-gradient(
        90deg, #98c3cd, #ffd0eacc
    ) ,url(image/shop-in-2.jpg);
    background-size: cover;
    padding-bottom: 40px;
}

.concept-inner{
    text-align: center;
}

.concept-massage{
    margin: 0 100px;
}

.concept-title{
    font-size: 40px;
    margin: 40px 0;
}

.concept-text{
    max-width: 552px;
    margin: 0 auto;
}

.concept-btn{
    margin: 40px 0;
}

.concept-btn a{
    /* display: inline-block; */
    background-color: #eacacb;
    padding: 20px 40px;
    border-radius: 40px;
    position: relative;
}

.concept-btn a::after{
    position: absolute;
    content: "";
    top: 27px;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid ;
    border-right: 2px solid;
    rotate: 45deg;
}

/* ------------------------------------------------
おすすめ品
------------------------------------------------- */
.recommend-img a{
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.recommend-img a::after{
    position: absolute;
    content: "+商品ページへ";
    text-align: center;
    line-height: 15px;
    padding: calc(50% - 7.5px) 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
    pointer-events: none;
    opacity: 0;
}

.recommend-img a:hover::after{
    opacity: 1;
}

.recommend-img img{
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
}


/*-----------------------------------------------
メニュー
------------------------------------------------- */

.cake-img img,
.cookie-img img,
.drink-img img{
    height: 100%;
}

.menu-btns{
    padding: 0 80px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-text p{
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 10px;
}

.menu-btn .cake-img,
.menu-btn .cookie-img,
.menu-btn .drink-img{
    height: 100%;
}

.menu-btn img{
    object-fit: cover;
}


.menu-btn a{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid white;
}

.menu-btn a::after{
    position: absolute;
    content: "+view more";
    text-align: center;
    line-height: 15px;
    padding: calc(50% - 7.5px) 0;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transition: all 0.5s;
    pointer-events: none;
    opacity: 0;
}

.menu-btn a:hover::after{
    opacity: 1;
}

.menu-btn a:hover .menu-text{
    opacity: 0;
    transition: all 0.5s;
}

.menu-text{
    transition: all 0.5s;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 2px white;
}

/*------------------------------------------------ 
アバウト
------------------------------------------------- */
.about{
    max-width: 1000px;
    padding: 80px;
    margin: auto;
}

.about-cake a,
.about-cookie a,
.about-drink a,
.about-text{
    max-width: 50%;
    height: 500px;
}

.about img{
    height: 500px;
    object-fit: cover;
}

.about-cake,
.about-cookie,
.about-drink{
    display: flex;
}

.about a{
    display: inline-block;
}

/* スライドのデザイン */
.about-cake a,
.about-cookie a,
.about-drink a{
    position: relative;
    overflow: hidden;
}

.about-cake a::after,
.about-cookie a::after,
.about-drink a::after{
    position: absolute;
    content: "+こだわり・材料について";
    line-height: 15px;
    text-align: center;
    padding: calc(250px - 7.5px) 0;
    color: white;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    pointer-events: none;
}

.about-cake a:hover::after,
.about-cookie a:hover::after,
.about-drink a:hover::after{
    left: 0;
}

/* .about-text */
.about-text{
    padding: 56px;
    background-color: #d5e1df;
}

.about-text p{
    line-height: 2;
    font-size: 14px;
}

.about-title{
    margin-bottom: 40px;
}

.about-title h3{
    font-size: 64px;
}

.about-title p{
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 12px;
}


/* アバウトのボタン */
.about-btn{
    margin: 40px 0;
    text-align: center;
}

.about-btn a{
    background-color: #eacacb;
    padding: 20px 40px;
    border-radius: 40px;
    position: relative;
}

.about-btn a::after{
    position: absolute;
    content: "";
    top: 27px;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid ;
    border-right: 2px solid;
    rotate: 45deg;
}


/* -----------------------------------------------
ご予約・お問合せ 
------------------------------------------------*/
.reservation{
    margin-bottom: 80px;
}

.reservation-back{
    background-image: linear-gradient(
        90deg, #98c3cd, #ffd0eacc
    ) ,url(./image/reser-img.jpg);
    padding: 80px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-size: cover;
}

.reservation-text{
    text-align: center;
    margin: 0 80px 80px;
}

.reservation-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-btns h4{
    margin: 0 20px;
}

.reservation-btns a{
    padding: 20px;
    background-color: #eacacb;
    border-radius: 50px;
}

.left-btn,
.right-btn{
    height: 100%;
}

.left-btn a,
.right-btn a{
    position: relative;
    min-height: 100px;
    width: 320px;
    text-align: center;
}

.right-btn p{
    line-height: 15px;
    font-size: 15px;
    padding: calc(10% - 7.5px) 0;
}

.left-btn span{
    font-size: 12px;
}

.left-btn h3{
    font-size: 24px;
}

.right-btn a::after{
    position: absolute;
    content: "";
    line-height: 15px;
    top: calc(50% - 7.5px);
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid ;
    border-right: 2px solid;
    rotate: 45deg;
}



/* ----------------------------------------------
店鋪情報
------------------------------------------------ */
.information{
    padding-bottom: 80px;
}

/* 外観の写真 */
.info-image{
    max-width: 1000px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.info-image li{
    height: 600px;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 15s infinite;
}

.info-image img{
    max-width: 1000px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px white solid;
}

.info-image li:nth-child(1){
    animation-delay: 0s;
}

.info-image li:nth-child(2){
    animation-delay: 5s;
}

.info-image li:nth-child(3){
    animation-delay: 10s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    15%{
        opacity: 1;
    }

    30%{
        opacity: 1;
    }

    45%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

/* info-down */
.info-down{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-top: 40px;
    border-top: black solid 1px;
}

.info-left{
    width: 35%;
}

.info-right{
    width: 60%;
    text-align: center;
}

/* 左下の店鋪情報 */
.info-logo{
    height: 120px;
    width: 50%;

}

.info-logo h4{
    font-size: 48px;
}

.info-logo p{
    font-size: 18px;
}

dl{
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
    margin-bottom: 40px;
}

.info-left dt{
    width: 25%;
}

.info-left dd{
    width: 75%;
}

.info-left ul li{
    padding: 8px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
}

/* 右下のマップ */
.google-map{
    width: 100%;
    height: 440px;
    margin-bottom: 20px;
}

.google-btn{
    padding: 20px;
    border-radius: 50px;
    background-color: #eacacb;
    position: relative;
}

/* ----------------------------------------------
フッター
------------------------------------------------- */
footer{
    background-color: #a3b6c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
}

footer ul{
    display: flex;
}

footer p{
    margin-right: 40px;
}

footer li{
    margin: 0 10px;
    margin-bottom: 20px;
}

footer a{
    text-align: center;
}

/* ----------------------------------------------
レスポンシブ
------------------------------------------------ */
@media(max-width:960px){

    /* メニュー */
    .menu-btns{
        grid-template-columns: 1fr;
    }

    .menu-btn a{
        border-radius: 10px;
        height: 200px;
    }

    .menu-btn a::after{
        height: 200px;
        padding: calc(100px - 7.5px) 0;
    }

    /* アバウト */
    .about-cake,
    .about-cookie,
    .about-drink{
        margin-bottom: 40px;
        flex-direction: column;
    }

    .about-text{
        max-width: 100%;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border: 1px solid white;
    }
    
    .about-cake a,
    .about-cookie a,
    .about-drink a{
        display: none;
    }


    /* ご予約・お問合せ */
    .reservation-btns{
        flex-direction: column;
    }

    .reservation-btns h4{
        margin: 20px 0;
    }

    .left-btn a,
    .right-btn a{
        width: 400px;
    }

    /* 店鋪情報 */
    .info-down{
        flex-direction: column;
    }

    .info-left,
    .info-right{
        width: 100%;
    }

    .info-left{
        margin-bottom: 80px;
    }

    .responsive-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .responsive-flex a{
        width: 35%;
    }

    .responsive-flex dl{
        width: 60%;
    }

    /* フッター */
    footer{
        flex-direction: column;
    }

    footer p{
        margin: 10px 0;
    }

    footer ul{
        margin: 20px 0;
        flex-wrap: wrap;
    }
}

@media(max-width:760px){
    .wrapper{
        margin: 0;
    }

    /* コンセプト */
    .concept-title{
        font-size: 32px;
    }

    .concept-massage{
        margin: 0 16px;
    } 

    /* 商品について */
    .about-text{
        min-height: 550px;
    }

    /* 予約 */
    .reservation .wrapper{
        padding: 0 16px;
    }


    /* 店舗情報 */
    .responsive-flex{
        flex-direction: column;
        padding: 0 40px;
    }

    .responsive-flex dl{
        width: 100%;
    }

    .info-left ul{
        padding: 0 40px;
    }
}


@media(max-width:420px){
    
    /* コンセプト */
    .concept-title{
        font-size: 24px;
    }

    /* ご予約・お問合せ */
    .left-btn a,
    .right-btn a{
        width: 320px;
    }

    /* 店舗情報 */
    .info-image{
        max-width: 400px;
    }

    .wrapper{
        margin:0 16px;
    }

    .about{
        padding: 0;
    }

    .article{
        padding: 0;
    }

    .about-text p{
        font-size: 14px;
    }

    .reservation-text{
        margin: 0 20px;
    }

    .reservation-btns{
        margin-top: 20px;
    }

}
